<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UrlShortner-Signup</title>
    <style>
      body {
        font-family: "Courier New", Courier, monospace;
        background-color: #fafafa;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }

      div {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;
      }

      h1 {
        text-align: center;
        color: #333;
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;
      }

      label {
        margin-bottom: 5px;
        color: #807e7e;
      }

      input {
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
      }

      button {
        background-color: #454748;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
      }

      button:hover {
        background-color: #6c6d6e;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Sign Up</h1>
      <form action="/user/signup" method="post">
        <label for="name">Full Name</label>
        <input type="text" placeholder="Name" name="name" id="name" />
        <label for="email">Email</label>
        <input type="text" placeholder="Email" name="email" id="email" />
        <label for="password">Password</label>
        <input
          type="password"
          placeholder="**********"
          name="password"
          id="password"
        />
        <button type="submit">Signup</button>
      </form>
    </div>
  </body>
</html>
